[submodule "ThirdParty/SubModules/bgslibrary"]
	path = ThirdParty/SubModules/bgslibrary
	url = https://github.com/IanNorris/bgslibrary.git
[submodule "ThirdParty/SubModules/cpprestsdk"]
	path = ThirdParty/SubModules/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
[submodule "ThirdParty/SubModules/ngx-admin"]
	path = ThirdParty/SubModules/ngx-admin
	url = https://github.com/akveo/ngx-admin.git
