[submodule "ThirdParty/SubModules/bgslibrary"]
	path = ThirdParty/SubModules/bgslibrary
	url = https://github.com/IanNorris/bgslibrary.git
[submodule "ThirdParty/SubModules/cpprestsdk"]
	path = ThirdParty/SubModules/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk.git
[submodule "ThirdParty/SubModules/miminium"]
	path = ThirdParty/SubModules/miminium
	url = https://github.com/akivaron/miminium.git
