{
	"server": {
		"hostname": "localhost",
		"port": 443,
		"secure": true,
		"static_path": "C:\\Full\\Path\\To\\WebRoot",
		"cache_path": "C:\\Full\\Path\\To\\Cache",
		"mime": {
			"css": "text/css",
			"html": "text/html",
			"js": "application/javascript",
			"svg": "image/svg+xml"
		}
	},
	"android": {
		"fcm_server_key": "Firebase Server Key",
		"fcm_user": "User To Send To (Temporary)",
		"fcm_link": "Image To Send (Temporary)"
	}
}