<div class="panel-body">
	<div class="col-md-12 col-sm-12">
		<h3 class="animated fadeInLeft">Cameras (
            <button class="btn btn-circle btn-mn btn-primary" data-bind="click:increaseScale"><i class="fa fa-plus"></i></button>
            <span data-bind="text: cameraPreviewScale"></span><span>%</span>
            <button class="btn btn-circle btn-mn btn-primary" data-bind="click:decreaseScale"><i class="fa fa-minus"></i></button>
        )
        </h3>
		<div data-bind="foreach: cameras">
			<img class="CameraPreview" data-bind="attr: { src: previewPath }, css: { 'CameraPreviewRec': isRecording }, click: toggleRecording, style: { 'width': witness.cameraPreviewScale() + '%' }" />
		</div>
	</div>
	
	<!--
	<div class="col-md-6 col-sm-12">
		<div class="col-md-6 col-sm-6 text-right" style="padding-left:10px;">
			<h3 style="color:#DDDDDE;">
				<span class="fa  fa-map-marker"></span> Place Name</h3>
			<h1 style="margin-top: -10px;color: #ddd;">3
				<sup>o</sup>
			</h1>
		</div>
		<div class="col-md-6 col-sm-6">
			<div class="wheather">
				<div class="stormy rainy animated pulse infinite">
					<div class="shadow">

					</div>
				</div>
				<div class="sub-wheather">
					<div class="thunder">

					</div>
					<div class="rain">
						<div class="droplet droplet1"></div>
						<div class="droplet droplet2"></div>
						<div class="droplet droplet3"></div>
						<div class="droplet droplet4"></div>
						<div class="droplet droplet5"></div>
						<div class="droplet droplet6"></div>
					</div>
				</div>
			</div>
		</div>
	</div>-->
</div>